<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/prisma/assets/css/composer.css">
    <title>Login PRISMA</title>
</head>

<body class="register-body">

<header class="header">
        <div class="header_items">
            <a href="/prisma/assets/view/pages/cursos.html">
                <img class="header_img" src="/prisma/assets/img/logo/logo_principal.png" alt="Logo PRISMA">
            </a>
            <a href="/prisma/assets/view/pages/cursos.html"><i class="bi bi-arrow-left"
            style="visibility: hidden;"></i></a>
        </div>
        <img class="header_title" src="/prisma/assets/img/text_logos/Prisma_text.png" alt="title">
        <div class="header_user" style="visibility: hidden;">
            <a class="link-hover" href="#" class="session" id="userName">Cargando...<i
                    class="bi bi-person-circle"></i></a>
            <a class="link-hover" href="/prisma/backend/logout.php" title="Cerrar Sesión">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Inicia Sesion</h2>

            <form class="form" id="loginForm" method="POST">
                <input type="email" name="email" placeholder="Correo Electrónico" required>
                <input type="password" name="password" placeholder="Contraseña" required>

                <div class="form-footer">
                    <div class="form-footer_login">
                        <button type="submit" class="button">Iniciar Sesión</button>
                    </div>
                    <div class="form-footer_help">
                        <a href="/prisma/assets/view/auth/register.html">No tienes Cuenta?</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    
        <script src="/prisma/assets/js/transition.js"></script>
    <script src="/prisma/assets/js/toast.js"></script>
    <script src="/prisma/assets/js/auth.js"></script>
</body>

</html>